streamlit
streamlit-authenticator
pandas
llama-index-llms-anthropic
streamlit-nested-layout
matplotlib
plotly
python-pptx
gradio
python-dotenv
mysql-connector-python
openai
langchain_openai
bcrypt
google-generativeai
llama-index
validate-email-address
langchain
langchain-community
plotly
python-docx
llama-index-llms-ollama
pandasai
mysql-connector-python
graphviz
PyPDF2
uuid
llama-index-llms-gemini
langchain-ollama
langchain-google-genai
mysql-connector-python
langchain-core
PyMySQL
langchain-experimental
google-generativeai
python-dotenv
llama-index-llms-gemini
validate-email-address